.value3d {
    /* font-size: 10px; */
    padding: 10px 15px;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.918); /* 50% transparent white */
    border: 1px white solid;
    color: white;
    border-radius: 20px;
    width: 400px;

    /* opacity: 0; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* transition: all ease 0.4s; */
    /* display: none; */
    text-align: center;
    
    }


body{
  overflow: hidden;
}

    .value3d .btn{
        padding: 15px 20px;
        border: white solid 1px;
        border-radius: 5px;
        transition: all ease 0.5s;
color: white;
margin: 20px 0;
cursor: pointer;
    }
/* 
    .value3d .btn:hover{
        color: red;
        background-color: white;
    } */


    .preloader {
        position: absolute;
        left: 0;
        top: 0;
        background: black;
        width: 100vw;
        height: 100vh;
        display: flex;
        /* place-items: center; */
justify-content: center;
align-items: center;
flex-direction: column;
        color: white;
        z-index: 100;
      
    }
    
    /* .preloader h1 {
        font-size: 10vh;
    } */
    .preloader p {
        font-size: 3vh;
    }
    .preloader img {
    width: 50vh;
    }
    

    #navBtn{
        z-index: 50;
        position: absolute;
        top: 50%;
        left: 50%;
    }